* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #4357ad;
  --logo-font-color: #fff;
  --label-font-color: #000;
  --primary-font-color: #fff;
  --secondary-font-color: #000;
  --faded-font-color: rgb(88, 87, 87);
  --outline-color: #000;
  --active-bg: rgb(133, 184, 252);
  --selectable-row-hover-bg: rgb(211, 208, 252);
  --add-hover-bg: rgb(218, 252, 190);
  --remove-hover-bg: rgb(248, 194, 163);
  --button-col: rgb(113, 241, 124);
  --table-head-bg: #333;
  --table-bg: #d5dcff;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
