* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 100px;
}
*::selection {
  background: hsla(56, 100%, 50%, 0.5);
}
:root {
  --primary: hsl(268, 98%, 48%);
  --primary-faded: hsl(268, 90%, 69%);
  --primary-very-faded: hsl(267, 100%, 98%);
  --black: hsl(0, 0%, 0%);
  --black-faded: hsl(0, 0%, 15%);
  --white: hsl(0, 0%, 100%);
  --white-faded: hsl(0, 0%, 85%);
  --red: hsl(0, 100%, 45%);
  --red-faded: hsl(0, 100%, 70%);
  --orange: hsl(45, 100%, 51%);
  --orange-faded: hsl(45, 100%, 66%);
  --green: hsl(121, 40%, 45%);
  --green-faded: hsl(121, 40%, 70%);

  --text-input-outline: #a6a6a6;
  /* --button-bg: linear-gradient(86.21deg, #8c7eee 5.73%, #4d60c7 99.22%);
  --button-shadow: 0px 0px 20px rgba(77, 96, 199, 0.3); */

  --timetable-cell-bg: #ffc;
  --timetable-bg: #a6a6a6;
  --timetable-lab: #45a247;
  --timetable-theory: #92fe9d;
  --timetable-theory-timing: #ccccff;
  --timetable-lab-timing: #99ccff;

  --primary-font-color: #fff;
  --outline-color: #000;
  --table-bg: #d5dcff;
  --table-head-bg: #333;
  /* --logo-font-color: #fff;
  --label-font-color: #000;
  --secondary-font-color: #000;
  --faded-font-color: rgb(88, 87, 87);
  --active-bg: #63de8d;
  --active-hover-bg: #63de8d;
  --selectable-row-hover-bg: rgb(211, 208, 252);
  --add-hover-bg: #63de8d;
  --remove-hover-bg: rgb(248, 194, 163);
  --button-col: rgb(113, 241, 124);
  --timetable-head-bg: #333;
  --timetable-cell-bg: #ffc;
  --timetable-bg: #a6a6a6;
  --timetable-lab: #45a247;
  --timetable-theory: #92fe9d;
  --timetable-theory-timing: #ccccff;
  --timetable-lab-timing: #99ccff;
  --red: #de350b;
  --green: #63de8d;
  --button-font-col: #fff;
  --button-bg: linear-gradient(86.21deg, #8c7eee 5.73%, #4d60c7 99.22%);
  --button-shadow: 0px 0px 20px rgba(77, 96, 199, 0.3); */
}
body {
  width: 100%;
  /* overflow-x: hidden; */
}
.screen {
  /* padding: 0 60px 30px 60px; */
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  /* outline: 1px solid slategrey; */
}
