.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
}
.label {
  margin-bottom: 10px;
}
.slotCell {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  /* border: 2px white solid !important; */
}
.slotCell:hover {
  border: 2px red dashed !important;
  /* margin: -3px; */
}
.blacklisted {
  background-color: red;
}
