.container {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  max-height: 300px;
  overflow: auto;
  width: 100%;

  margin-bottom: 10px;
}
.label {
  margin-bottom: 10px;
}
.table {
  border-spacing: 0;
  border-collapse: separate;
}

.tableWrapper {
  margin-top: 20px;
  min-width: fit-content(500px);
  /* max-height: 40vh; */
  overflow: auto;
}
.tableRow {
  user-select: none;
}
.headRow,
.headRow th {
  position: sticky;
  top: 0;
  background-color: var(--table-head-bg);
  color: var(--primary-font-color);
}
.cell {
  border: 1px solid var(--outline-color);
  text-align: center;
  padding: 3px 5px;
  flex: 2;
  min-width: 120px;
}
.checkbox {
  cursor: pointer;
}

.loading,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.selectedCoursesRow {
  cursor: pointer;
}
.activeRow {
  background-color: var(--active-bg);
}
.hoverRow {
  background-color: lightcoral !important;
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.schedulesPagination {
  padding: 0;
  margin: 10px 0;
  display: flex;

  width: 100%;
  gap: 10px;
  list-style: none;
  justify-content: center;
}
.schedulesPagination,
.schedulesPagination li {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.schedulesPagination li {
  margin: 0 5px;
}
.schedulesPagination .page {
  padding: 5px;
  border: solid var(--green) 2px;
}
.schedulesPagination .active {
  background: var(--green);
}
/* .schedules a {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
  cursor: pointer;
}
.schedules a:hover {
  background-color: khaki;
}
.active > a {
  background-color: #ccf !important;
}*/
.faded {
  background-color: lightgray;
  color: gray;
}
