.container {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  position: relative;
  max-height: 300px;
  overflow: auto;
  width: min-content;

  margin-bottom: 10px;
}
.label {
  margin-bottom: 10px;
}
.table {
  border-spacing: 0;
}
/* .table:hover {
  background-color: var(--selectable-row-hover-bg);
}
.selectedSchedule {
  border: 2px blue solid;
} */
.tableWrapper {
  margin-top: 20px;
  max-width: 40vw;
  min-width: fit-content(500px);
  max-height: 40vh;
  overflow: auto;
}
.tableRow {
  user-select: none;
}
.headRow,
.headRow th {
  position: sticky;
  top: 0;
  background-color: var(--table-head-bg);
  color: var(--primary-font-color);
}
.cell {
  border: 1px solid var(--outline-color);
  text-align: center;
  padding: 3px 5px;
  flex: 2;
  min-width: 120px;
}
.checkbox {
  cursor: pointer;
}
/* .remove {
  color: red;
  font-weight: 1000;
  cursor: pointer;
}
.remove:hover {
  background-color: var(--remove-hover-bg);
} */

.loading,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.selectedCoursesRow {
  cursor: pointer;
}
.activeRow {
  background-color: var(--active-bg);
}
.hoverRow {
  background-color: lightcoral !important;
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.schedules {
  margin: 10px 0;
  display: flex;

  width: 100%;
  gap: 10px;
  list-style: none;
  justify-content: center;
}
.schedules a {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
  cursor: pointer;
}
.schedules a:hover {
  background-color: khaki;
}
.active > a {
  background-color: #ccf !important;
}
.faded {
  background-color: lightgray;
  color: gray;
}
