.container {
  width: 100%;
}
.queryRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  --border: 2px solid var(--black);
}
.search,
.slots {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search > input {
  padding: 6px;
  margin: 0;
  /* width: 230px; */
  width: 100%;
  height: 40px;
  border: var(--border);
}
.slots > select {
  flex-grow: 1;
  border: var(--border);
}
.resultsWrapper {
  height: 50vh;
  overflow: auto;
  margin: 30px 0;
  padding: 20px;
  border: 1px var(--black-faded) solid;
}
.results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.class {
  border: 2px var(--black-faded) solid;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.facultyName {
  grid-column: 1 / span 2;
}
