.container {
  --container-radius: 5px;
  --template: 1fr 2fr 3fr 2fr;
  width: 500px;
  height: 450px;
  background-color: var(--table-bg);
  border-radius: var(--container-radius);
  overflow-x: hidden;
}
.header {
  border-radius: var(--container-radius) var(--container-radius) 0px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: var(--primary-font-color);
}
.headerNames {
  background-color: var(--table-head-bg);
  display: grid;
  grid-template-columns: var(--template);
  column-gap: 7px;
  align-items: center;
  padding: 20px;
}
.headerSearch {
  background-color: var(--table-bg);
  padding: 20px;
}
.body {
  --card-side-padding: 10px;
  padding: var(--card-side-padding);
  overflow-y: auto;
  height: calc(450px - 170px);
}
.card {
  background-color: #fff;
  border-radius: var(--container-radius);
  display: grid;
  grid-template-columns: var(--template);
  margin-bottom: 10px;
  column-gap: 7px;
  grid-auto-rows: minmax(50px, auto);
  padding: 0 var(--card-side-padding) 0 var(--card-side-padding);
  align-items: center;
}
.bodyCol > input {
  cursor: pointer;
}
.notSelected {
  background-color: lightgray;
  color: gray;
}
.selected {
  cursor: grab;
}
/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.label {
  margin-bottom: 10px;
}
.facultyTable {
  border-spacing: 0;
  background-color: var(--table-bg);
}
.tableWrapper {
  margin-top: 20px;
  max-width: 40vw;
  min-width: fit-content(500px);
  max-height: 40vh;
  overflow: auto;
}
.headRow,
.headRow th {
  position: sticky;
  top: 0;
  background-color: var(--table-head-bg);
  color: var(--primary-font-color);
}
.cell {
  border: 1px solid var(--outline-color);
  text-align: center;
  padding: 3px 5px;
  flex: 2;
  min-width: 120px;
}
.add {
  color: green;
  font-weight: 1000;
  cursor: pointer;
}
.add:hover {
  background-color: var(--add-hover-bg);
}

.loading,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.notSelectedRow {
  background-color: lightgray;
  color: gray;
}
.selectedRow {
  cursor: grab;
}
*/
