.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
  padding-bottom: 50px;
  /* position: relative; */
}
.faqContainer {
  margin: 1em;
  width: 70%;
}
.goto {
  display: block;
  padding-top: 100px;
  margin-top: -100px;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-color);
}
.title {
  text-align: center;
  display: block;
  padding-top: 1000px;
  margin: -1000px 20px 20px 20px;
}
.btn-link {
  text-decoration: none !important;
}
.questionCard {
  margin-bottom: 30px;
  min-width: 170px;
}
.fadedText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--faded-font-color);
}
.fadedText > * {
  max-width: 600px;
  text-align: center;
}
.pattern {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1000;
}

/* code from https://stackoverflow.com/a/38136283/13378825 */
.btn {
  /* color: #000; */
  /* background: #e74c3c; */
  width: 50px;
  height: 50px;
  border: 0;
  font-size: 1.5em;
  position: relative;
}

.btn span {
  position: absolute;
  transition: 300ms ease-out;
  background: black;
  border-radius: 3px;
}

/* Create the "+" shape by positioning the spans absolutely */
.btn span:first-child {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

.btn span:last-child {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

/* Morph the shape when the button is hovered over */
.btn.clicked span {
  transform: rotate(90deg);
}

.btn.clicked span:last-child {
  left: 50%;
  right: 50%;
}
