.navbar {
  color: var(--logo-font-color);
}
/* .logotype {
  font-weight: 300;
}
.logotype > strong {
  font-weight: 500;
} */
.logotype {
  color: var(--logo-font-color);
  font-size: 1.5rem;
  margin: 0;
}
.logotypePrimary {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin: 0;
}

.navLinks {
  margin-left: auto;
}
.navLinks > a {
  padding: 0 0.5rem 0 0.5rem;
  text-decoration: none;
  color: var(--faded-font-color);
}
.navLinks > a:hover {
  font-weight: 600;
}
.navLinks > .active {
  color: rgb(65, 63, 63);
  font-weight: 600;
}
