.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.list {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  /* max-width: 50vw; */
  overflow: scroll;
}
.noOverflow {
  overflow: unset !important;
}
.row {
  display: flex;
  /* font-size: 10px; */
}
.cell {
  border: 1px solid var(--outline-color);
  text-align: center;
  padding: 3px 5px;
  flex: 2;
  min-width: 120px;
}
.selectedCourses {
  cursor: pointer;
}
.activeRow {
  background-color: var(--active-bg);
}
.hoverRow {
  background-color: var(--selectable-row-hover-bg);
}
.add,
.remove,
.ranked {
  flex: 1;
}
.add,
.remove {
  font-weight: 1000;
  cursor: pointer;
}
.add {
  color: green;
}
.add:hover {
  background-color: var(--add-hover-bg);
}
.remove {
  color: red;
}
.remove:hover {
  background-color: var(--remove-hover-bg);
}
.ranked > input {
  border-width: 0.2px;
}
.input {
  /* margin-top: 7px; */
  padding: 5px;
  border: 2px solid var(--outline-color);
  border-radius: 6px;
}
