.screen {
  padding: 0 60px 30px 60px;
  display: flex;
  flex-direction: column;
}
.row {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.option {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input,
.select {
  /* margin-top: 7px; */
  padding: 5px;
  border: 2px solid var(--outline-color);
  border-radius: 6px;
}
.submitBtn {
  padding: 10px;
  background-color: var(--button-col);
}
.submitBtn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 4px #000;
}
