.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.label {
  margin-bottom: 10px;
}
.courseTable {
  border-spacing: 0;
}
.tableWrapper {
  margin-top: 20px;
  max-width: 40vw;
  min-width: fit-content(500px);
  max-height: 40vh;
  overflow: auto;
}
.headRow,
.headRow th {
  position: sticky;
  top: 0;
  background-color: var(--table-head-bg);
}
.cell {
  border: 1px solid var(--outline-color);
  text-align: center;
  padding: 3px 5px;
  flex: 2;
  min-width: 120px;
}
.remove {
  color: red;
  font-weight: 1000;
  cursor: pointer;
}
.remove:hover {
  background-color: var(--remove-hover-bg);
}

.loading,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.selectedCoursesRow {
  cursor: pointer;
}
.activeRow {
  background-color: var(--active-bg);
}
.hoverRow {
  background-color: var(--selectable-row-hover-bg);
}
