.container {
  --container-radius: 5px;
  --template: 1fr 2fr repeat(3, 1fr);
  width: 530px;
  height: 450px;
  background-color: var(--table-bg);
  border-radius: var(--container-radius);
  overflow-x: hidden;
  overflow-y: auto;
}
.header {
  border-radius: var(--container-radius) var(--container-radius) 0px 0px;
  background-color: var(--table-head-bg);
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: var(--template);
  column-gap: 7px;
  color: var(--primary-font-color);
}
.body {
  --card-side-padding: 15px;
  padding: var(--card-side-padding);
}
.card {
  background-color: #fff;
  border-radius: var(--container-radius);
  display: grid;
  grid-template-columns: var(--template);
  margin-bottom: 10px;
  column-gap: 7px;
  grid-auto-rows: minmax(50px, auto);
  padding: 0 var(--card-side-padding) 0 var(--card-side-padding);
  align-items: center;
  cursor: pointer;
}
/* .bodyCol {
  overflow-x: hidden;
  text-overflow: ellipsis;
} */
/* .courseTitle{

} */
/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.label {
  margin-bottom: 10px;
}
.courseTable {
  border-spacing: 0;
  background-color: var(--table-bg);
}
.tableWrapper {
  margin-top: 20px;
  max-width: 40vw;
  min-width: fit-content(500px);
  max-height: 40vh;
  overflow: auto;
}
.headRow,
.headRow th {
  position: sticky;
  top: 0;
  background-color: var(--table-head-bg);
  color: var(--primary-font-color);
}
.cell {
  border: 1px solid var(--outline-color);
  text-align: center;
  padding: 3px 5px;
  flex: 2;
  min-width: 120px;
}
.remove {
  color: red;
  font-weight: 1000;
  cursor: pointer;
}
.remove:hover {
  background-color: var(--remove-hover-bg);
}

.loading,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.selectedCoursesRow {
  cursor: pointer;
}*/
.activeRow {
  background-color: var(--active-bg);
}
.hoverRow {
  background-color: var(--active-hover-bg);
}
