.container {
  display: grid;
  gap: 20px;
  padding: 20px;
  overflow-x: visible;
  grid-template-columns: repeat(4, 1fr);
}
.panel {
  display: flex;
  flex-direction: column;
}
.paginatedPreviews {
  padding: 0;
  margin: 10px 0;
  display: flex;

  width: 100%;
  gap: 10px;
  list-style: none;
  justify-content: center;
}
.paginatedPreviews,
.paginatedPreviews li {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.paginatedPreviews li {
  margin: 0 5px;
}
.paginatedPreviews .page {
  padding: 5px;
  border: solid var(--green) 2px;
}
.paginatedPreviews .active {
  background: var(--green);
}
/* .paginatedPreviews {
  margin-top: 20px;
  display: flex;

  width: 100%;
  gap: 10px;
  list-style: none;
  justify-content: center;
}
.paginatedPreviews a {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
  cursor: pointer;
}
.paginatedPreviews a:hover {
  background-color: khaki;
}
.active > a {
  background-color: #ccf !important;
} */
