.timetablesScreen {
  flex: 2;
  /* padding-left: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.slotTitle {
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
