* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #4357ad;
    --logo-font-color: #fff;
    --label-font-color: #000;
    --font-color: #000;
    --outline-color: #000;
    --active-bg: rgb(133, 184, 252);
    --selectable-row-hover-bg: rgb(211, 208, 252);
    --add-hover-bg: rgb(218, 252, 190);
    --remove-hover-bg: rgb(248, 194, 163);
}
