.container {
  --container-radius: 5px;
  /* width: 100%; */
  /* max-width: 500px; */
  width: 450px;
  min-width: 400px;
  height: 450px;
  background-color: var(--table-bg);
  border-radius: var(--container-radius);
  overflow-x: hidden;
}
.header {
  border-radius: var(--container-radius) var(--container-radius) 0px 0px;
  background-color: var(--table-head-bg);
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.body {
  --card-side-padding: 15px;
  padding: var(--card-side-padding);
  overflow-y: auto;
  height: calc(450px - 80px);
}
.card {
  background-color: #fff;
  border-radius: var(--container-radius);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
  gap: 4px;
  padding: 0 var(--card-side-padding) 0 var(--card-side-padding);

  cursor: pointer;
}
.card:hover {
  background-color: var(--add-hover-bg);
}
.courseTitle {
  grid-column: 1 / 4;
}
.courseInfo {
  padding: 3px;
}
