.container {
  color: var(--primary-font-color);
  min-width: 280px;
  width: 30%;
}
.container > ul {
  list-style: none;
  font-size: 1.3rem;
}
.container > ul > li {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
